<html>
    <head>
        <title> the "Wizbang Blog"</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
      <div>
        <h1><a href="/">Blog</a></h1>
        <h4><a href="/">composed by Winzbang Runyon</a></h4>
      </div>

      <p>
        writing html is way way way easier than i would have guessed...
      </p>

{% for post in posts %}
          <div>
              <p>published: {{ post.published_date }}</p>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p>
          </div>
{% endfor %}
    </body>
</html>
